@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about   <a href="https://arvidamin.netlify.app/" target="_blank"><h2>Arvid Dawn Amin</h2></a></p>
</div>
